:root {
  --font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  --primary-color: #0154AA;
  --primary-color-hover: #0554a9c6;
  --secondary-color: #F2F4F7;
  --text-color-dark: #333333;
  --text-color: #737A91;
  --text-color-light: #585D6E;
  --bg-color: #ffffff;
  --border-color: #E0E0E0;
  --card-radius: 8px;
  --hr-color: #E9ECEF;
  --card-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  --card-padding: 16px;
  --card-margin: 16px;
  --search-box-bg: #F6F9FF;
}